* {
  margin: 0;
  padding: 0;
}

html{
  background: #212121;
  color: #E9E8E7;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  /* display: flex;
  flex-direction: column; */
}

canvas {
  border: 2px solid #d3d4d5;
  background: red;
  width: 30%;
}
